<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="./../static/remove.png" />
    <link rel="stylesheet" href="../static/style.css">

    <title>False Note Bundle</title>
</head>

<body>
    <div class="container">
        <div class="verification-cont">
            <div style="background: #202020; padding: 3em 5em;">
                <h1>Verification Unsuccessful</h1>
                <div style="text-align: center; margin-top: 5%;">
                    <img src="./../static/remove.png" height="auto" width="100px" alt="true">
                </div>
                <div style="text-align: center; margin-top: 5%;">
                    <h3>False Bundle Of Bank Notes</h3>
                    <a href="/" class="btn btn-primary">Try Again</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">Made with ❤️ by Dhairya Ostwal</footer>

</body>

</html>